<h4> New Author</h4>
<form action="/book/edit/<%=book.id%>?_method=PUT" method="POST" >
    <%- include("_formFeild")%>
    <a href="/author">Cancel</a>
    <button type="submit" > Edit</button>
</form>