<h4> New Author</h4>
<form action="/book/new" method="POST" enctype="multipart/form-data">
    <%- include("_formFeild")%>
    <a href="/author">Cancel</a>
    <button type="submit" > Create</button>
</form>