<header>
    <nav>
        <a href="/">Bookey</a>
        <ul>
            <li><a href="/author">All Authors</a></li>
            <li><a href="/author/new">Add author</a></li>
            <li><a href="/book">All Books</a></li>
            <li><a href="/book/new">Add a book</a></li>
        </ul>
    </nav>
</header>